<header>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="/" class="nav-link">
        <span class="link-text">Library Store</span>
        <span class="icon">
          <i class="fas fa-home fa-lg"></i>
        </span>
        </a>

      </li>
      <li class="nav-item">
        <a href="/authors" class="nav-link">
          <span class="icon">
          <i class='fas fa-quote-right fa-lg'></i>
          </span>
          <span class="link-text"> Authors</span>
        </a>  
      </li>
      <li class="nav-item">
        <a href="/authors/new" class="nav-link">
          <span class="icon">
          <i class='fas fa-feather-alt fa-lg' ></i>
          </span>
          <span class="link-text"> New Author</span>
        </a> 
      </li>
    </ul>
  </nav>
</header>